<li class="list-item" ng-class="{ 'active': todoItem.item.edit}">
	<form class="form-inline form-group">
		<fieldset ng-disabled="!todoItem.crud.addEnable && !todoItem.item.edit">
			<span class="form-group">
				<button ng-if="todoItem.crud.addEnable" 
					title="Add sub item"
					class="glyphicon glyphicon-plus-sign btn btn-sm" 
					ng-click="todoItem.crud.addSubItem(todoItem.item)">
				</button>
				<button ng-if="todoItem.item.edit" 
					title="Save"
					class="glyphicon glyphicon-floppy-saved btn btn-sm" 
					ng-click="todoItem.crud.save(todoItem.item)">
				</button>
				<button ng-if="todoItem.crud.addEnable" 
					title="Edit"
					class="glyphicon glyphicon-edit btn btn-sm" 
					ng-click="todoItem.crud.edit(todoItem.item)">
				</button>
				<button ng-if="todoItem.item.edit" 
					title="Delete"
					class="glyphicon glyphicon-floppy-remove btn btn-sm" 
					ng-click="todoItem.crud.remove($parent.$parent.todoList.items, todoItem.item)">
				</button>
			</span>
			<input ng-disabled="!todoItem.item.edit" type="text" class="form-control" ng-model="todoItem.item.Name"/>{{todoItem.item.Status}}
			<span class="form-btn-group">
				<label class="btn btn-primary" uib-btn-radio ng-model="todoItem.item.Status" ng-value="1">
					Todo
				</label>
				<label class="btn btn-primary" uib-btn-radio ng-model="todoItem.item.Status" ng-value="2">
					In Progress
				</label>
				<label class="btn btn-primary" uib-btn-radio ng-model="todoItem.item.Status" ng-value="3">
					Completed
				</label>
			</span>
		</fieldset>
	</form>
	<todo-list items="todoItem.item.subItems"
		ng-if="todoItem.item.subItems.length"
		add-enable="todoItem.addEnable">
	</todo-list>
</li>